#requirements.txt



beautifulsoup4
bs4
certifi
motor
charset-normalizer
dnspython
idna
pyaes
pymongo
pyrofork
pySocks
python-dotenv
pytz
flask
requests
schedule
soupsieve
cryptography
tgCrypto
urllib3
tenacity
python_flipkart_scraper
python-amazon-scraper
gunicorn==20.1.0
aiohttp
werkzeug==2.0.2

